<label>Email:</label><span *ngIf="user">{{user.email}}</span>
<div id="featured">
    <div class="container">
        <header>
            <h2>Attention Training</h2>
        </header>
        <audio controls>
            <source src="/assets/att.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="container">
        <header>
            <h2>Sleep</h2>
        </header>
        <audio controls>
            <source src="/assets/good-sleep.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>