<div id="header">
  <div id="nav-wrapper">
    <nav id="nav">
      <ul>
        <li class="active"><a routerLink="home">Homepage</a></li>
        <li *ngIf="!isSignedIn()">
          <a routerLink="/signin">Sign in</a>
        </li>
        <li *ngIf="isSignedIn()">
          <a routerLink="/user/user" *ngIf="isSignedIn()">User</a>
        </li>
        <!-- <li *ngIf="isSignedIn()">
          <a routerLink="/user/profile" *ngIf="isSignedIn()">Profile</a>
        </li> -->
        <li *ngIf="isSignedIn()">
          <a routerLink="/user/time">Time</a>
        </li>
        <li *ngIf="isSignedIn()">
          <a href="#" (click)="signOut()">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">

    <!-- Logo -->
    <div id="logo">
      <h1><a href="#">Gundmann Consulting</a></h1>
      <span class="tag">Tim Gundmann</span>
    </div>
  </div>
</div>