<app-menu></app-menu>

<div id="featured">
    <div class="container signin-page">
        <router-outlet></router-outlet>
    </div>
</div>

<div id="tweet">
    <div class="container">
        <section>
            <blockquote>&ldquo;Keep it simple&rdquo;</blockquote>
        </section>
    </div>
</div>

<div id="footer">
    <div class="container">
        <section>
            <header>
                <h2>Get in touch</h2>
                <span class="byline">If in need of my skills please contact me.</span>
            </header>
            <ul class="contact">
                <li><a href="mailto:tim@gundmann.dk" class="fa fa-envelope"><span>Mail</span></a></li>
                <li class="active"><a href="https://www.linkedin.com/in/gundmann/" class="fa fa-linkedin-square"><span>Linkedin</span></a></li>
                <li><a href="https://twitter.com/timGundmann" class="fa fa-twitter"><span>Twitter</span></a></li>
            </ul>
        </section>
    </div>
</div>