.icon {
    display:inline-block;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    width: 80px;
    height: 80px; 
    margin-top: -8px;
    margin-bottom: -3px;
}