<header>
    <h2>Welcome to Gundmann Consulting</h2>
</header>
<p>I am an independent developer/architect with more than 20 years of experience.</p>
<p>I have thorough experience with these technologies and methods:</p>
<hr />
<div class="row">
    <section class="4u">
        <span class="pennant"><span class="fa fa-play-circle-o"></span></span>
        <h3>Continuous Delivery</h3>
        <p>Have set up several systems with automated pipeline for build, test and deployments.</p>
        <a href="https://en.wikipedia.org/wiki/Continuous_delivery" class="button button-style1">Read More</a>
    </section>
    <section class="4u">
        <span class="pennant"><img class="icon" src="/assets/images/Angular.svg" /></span>
        <h3>Angular</h3>
        <p>Have build applications with Angular version 2 - 7.</p>
        <a href="https://angular.io" class="button button-style1">Read More</a>
    </section>
    <section class="4u">
        <span class="pennant"><img class="icon" src="/assets/images/Java.svg" /></span>
        <h3>Java</h3>
        <p>More than 11 years of experience with Java building frontend and backend applications.</p>
        <a href="https://www.java.com" class="button button-style1">Read More</a>
    </section>

</div>